---
import Head from "@components/base/head-blog.astro";
import { SiteConfig } from "@commons/config";
import StringUtil from "@utils/string";
import { BlogAuthors, IBlogAuthor } from "@commons/blog/author";
import { BlogPrimaryMenu, IBlogMenu } from "@commons/blog/menu";
import { BlogCategories } from "@commons/blog/category";

export interface IBaseLayoutProps {
  title: string;
  description: string;
  image?: string;
  imageAuthor?: string;
  imageAuthorUrl?: string;
  authorId: string;
  category?: string;
  publishDate?: string;
}

const { frontmatter }: any = Astro.props;

const content: IBaseLayoutProps = frontmatter as IBaseLayoutProps;
const author: any = BlogAuthors[content.authorId] as IBlogAuthor;
const readingTime: number = new StringUtil().calculateReadingTime(Astro.props.rawContent(), 265);
---

<html>
  <head>
    <Head title={content.title} description={content.description} />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PUBLIC_GOOGLE_ANALYTICS_TRACKING_ID}`}></script>
    <script>
      // @ts-ignore
      window.dataLayer = window.dataLayer || [];
      // @ts-ignore
      function gtag(){dataLayer.push(arguments);}
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", import.meta.env.PUBLIC_GOOGLE_ANALYTICS_TRACKING_ID);
    </script>
  </head>
  <body>
    <div class="px-10 md:px-0 py-4 border-b">
      <div class="container-1100 mx-auto flex justify-between items-center">
        <div>
          <a href="/" class="font-bold text-xl block">{SiteConfig.title}</a>
          {SiteConfig.isShowDescription &&
            <div class="text-sm">{SiteConfig.description}</div>
          }
        </div>
        <div class="flex space-x-10">
          {BlogPrimaryMenu.map((menu: IBlogMenu, i: number) => (
            <a href={menu.path}>{menu.label}</a>
          ))}
        </div>
      </div>
    </div>

    <div class="container-1100 mx-auto grid grid-cols-12 gap-5">
      <div class="col-span-12 md:col-span-8 px-10 md:px-16 md:pb-10 md:border-x">
        <div class="flex items-center py-5">
          <div class="mr-5">
            <img src={author.picUrl} class="w-12 rounded-full" />
          </div>
          <div class="text-sm">
            <div class="font-semibold">{author.fullname}</div>
            <div class="space-x-5 flex items-center text-xs">
              <div>{content.publishDate}</div>
              <div>{readingTime} mins read</div>
              <div class="capitalize"><a href={`/blog/${content.category}`}>{content.category}</a></div>
            </div>
          </div>
        </div>

        {content.image &&
          <img src={content.image} class="w-full" />
        }

        {content.imageAuthor &&
          <div class="text-center mt-2 text-sm text-gray-500">
            Photo by <a href={content.imageAuthorUrl} target="_blank" class="underline">{content.imageAuthor}</a>
          </div>
        }

        <h1 class="text-4xl font-bold mt-5">{content.title}</h1>
        <h3 class="text-xl text-gray-500 mt-5">{content.description}</h3>

        <article>
          <slot />
        </article>
      </div>
      <div class="col-span-12 md:col-span-4 p-10 md:p-10">
        <div class="space-y-3 mb-10">
          <img src={author.picUrl} class="w-32 rounded-full" />
          <div class="font-bold">{author.fullname}</div>
          <div class="text-sm text-gray-500">{author.description}</div>
          <br/>
          <a href={`mailto:${author.email}`} class="font-semibold text-white bg-black px-4 py-2 text-xs rounded">Drop me a message</a>
        </div>

        <div class="border-t pt-5">
          <div class="mb-2 font-bold">Categories ({BlogCategories.length})</div>
          {BlogCategories.map((category: string, i: number) => (
            <a href={`/blog/${category}`} class="capitalize block text-gray-500 hover:text-black">{category}</a>
          ))}
        </div>
      </div>
    </div>
  </body>
</html>